:root {
    --color1: #05b1b1;
    --color2: #52339a;
}
    header {
              padding: 15px 20px;
    }
 footer{
    padding: 5px;
}


    header, footer{
        background: url("../image/vint.png"), linear-gradient(to right, var(--color1) 0%,var(--color2) 100%);
        background-size: contain;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float:right;
}

li {
    display: inline;
}


/* table { table-layout: fixed; } !* �������� ������ *!*/
/*td { width: 200px; overflow: hidden;} !* ��������� ������ ������ *!*/


