<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="ru">
    <title>Moment</title>
    <link  href="/css/bootstrap.min.css" rel="stylesheet" >
    <link  href="/css/style.css" rel="stylesheet" >


</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="text-center text-white">  Material </h1>
            </div>
        </div>
    </div>
</header>
<p></p>
<div class="container">
    <div class="row">
        <div class="col-6">
            <P></P>
            <a href = "/user_registrationEnter" > <p th:text=" ${user.getUserName()} "> </p> </a>
            <p></p>
        </div>

    </div>
    <div class="row">
        <div class="col-7">
            <P></P>
                 <h4> Materials  <a th:text = "${user.getUserName()}" > </a> </h4>
            <p></p>
        </div>

        <div class="col-5">
           <P></P>
            <h4> Стандартные болты</h4>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">

            <form action = "/all_bolt" method = "POST">

            <!-- Таблица болты пользователь               -->

                <table class="table table-bordered" >
                    <thead>
                    <tr class="table-warning table align-middle">

                        <th>
                            <h6> Болт</h6>
                        </th>
                        <th>
                            <h6> Предел текучести, МПа</h6>
                        </th>
                        <th>
                            <h6> Класс по ГОСТ 1759.4</h6>
                        </th>
                        <th>
                            <h6> Примечание</h6>
                        </th>
                        <th>
                            <h6> Дата</h6>

                        </th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <div th:each = "bolt: ${boltsUser}" >
                        <tr class="table-success table align-middle">
<!--                            name limit comment dataCreate classBolt-->
                            <th>
                                <input class="btn btn-outline-dark" id="bolt_name" type="text"
                                       th:value="${bolt.getName()}" th:name="'name' + ${bolt.getId()}" size="10" />
                            </th>
                            <th>
                                <input class="btn btn-outline-dark" id="bolt_limit" type="text"
                                       th:name="'limit'+ ${bolt.getId()}" th:value="${bolt.getLimit()}"  size="4" />
                            </th>
                            <th>
                                <input class="btn btn-outline-dark" id="bolt_classBolt" type="text"
                                       th:name="'classBolt' + ${bolt.getId()}" th:value="${bolt.getClassBolt()}"  size="3" />
                            </th>

                            <th>
                                <input class="btn btn-outline-dark" id="bolt.comment" type="text"
                                       th:name="'comments' + ${bolt.getId()}" th:value="${bolt.getComment()}"  size="10" />
                            </th>
                            <th>
                                <P class="fs-6" th:text="${bolt.getDataCreateParsing()}" ></P>
                            </th>
                            <th>
                               <a th:href = "@{/all_bolt/{id}(id = ${bolt.getId()})}" >   <h8>удалить</h8>  </a>
                            </th>
                        </tr>
                    </div>
<!--                        Строка создания нового болта-->
                        <tr class="table-success table align-middle">
                            <th>
                                <input  class="btn btn-outline-dark" placeholder="новый материал" id="bolt_name_new" type="text" name="bolt_name_new"  size="10" />
                            </th>
                            <th>
                                <input class="btn btn-outline-dark" id="bolt_limit_new" type="text"  name="bolt_limit_new" size="4" placeholder="450" />
                            </th>
                            <th>
                                <input class="btn btn-outline-dark"  type="text" name="bolt_classBolt_new" placeholder="5.5" size="3" />
                            </th>
                            <th>
                                <input id="bolt.comment_new" class="btn btn-outline-dark" type="text" name="bolt.comment_new" placeholder="comm" size="10" />
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>

                    </tbody>
                </table>
                <p></p>
                    <button type="submit" class="btn btn-dark">Сохранить</button>

            </form>
            <p></p>
            <form action = "/moment_page_1" method = "get">

                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-dark" id="submit2" type="submit"> На главную </button>

                </div>
            </form>
            <p></p>
            <p></p>


</div>
        <div class="col-5">

              <!--таблица Болты админ-->
                <table class="table table-bordered">
                    <thead>
                    <tr class="table-warning table align-middle">

                        <th>
                            <h6> Болт</h6>
                        </th>
                        <th>
                            <h6> Предел текучести, МПа</h6>
                        </th>
                        <th>
                            <h6> Класс</h6>
                        </th>

                        <th>
                            <h6> Комметарии</h6>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <div th:each = "bolt: ${boltsAdmin}" >
                        <tr class="table-success table align-middle">

                            <th>
                                <a th:text="${bolt.getName()}" > </a>
                            </th>
                            <th>
                                <a th:text =  "${bolt.getLimit()}" > </a> MPa
                            </th>
                            <th>
                                <a th:text =  "${bolt.getClassBolt()}" > </a>
                            </th>

                            <th>
                                <a th:text =  "${bolt.getComment()}" > </a>
                            </th>
                        </tr>
                    </div>
                    </tbody>
                </table>

            <p></p>
            <p></p>

        </div>
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>



